:root {
  font-family: 'Rubik', 'Space Grotesk';

  /* Prototype color scheme */
  --evergreen-light: #60bfac;
  --evergreen-dark: #1c8d76;
  --evergreen-faded: #a7d7cd;
  --orange-light: #ffc085;
  --orange-dark: #dfa46d;
  --orange-faded: #ffd4ac;
  --white-bg: #f3f3f2;
}

html, body, #app {
  margin: 0;
  padding: 0;
}

.title {
  margin: 20px 0px;
  font-size: 3rem;
  font-weight: 500;
}

h1 {
  margin: 5px 0px;
}

body {
  background-color: var(--white-bg);
}

.pop-up {
  color: var(--evergreen-dark);
}

h2.pop-up {
  font-size: 24px;
  margin: 12px 0px 16px 0px;
}

h3.pop-up {
  font-size: 11px;
  margin: 6px 0px;
}

input[type=submit] {
  text-align: center;
  font-family: 'Rubik';
  font-size: 15px;
  color: white;
  background-color: var(--evergreen-dark);
  padding: 4px 0px;
  width: 40%;
  border: solid var(--evergreen-dark);
  border-radius: 3px;
  margin: 30px 0px;
  
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: background 0.25s ease-in-out, border 0.25s ease-in-out;
}

input[type=submit]:hover {
  background-color: var(--evergreen-light);
  border-color: var(--evergreen-light);
}

input[type=text] {
  width: 55%;
  padding: 7px 10px;
  margin-bottom: 10px;
  background-color: #070707;
  border: solid var(--evergreen-dark) 1px;
  border-radius: 3px;
  font-family: 'Space Grotesk';
  font-size: 15px;
}

input[type=number] {
	text-align: center;
	border: solid var(--evergreen-dark) 1px;
  border-radius: 3px;
  font-family: 'Space Grotesk';
	font-size: 1em;
	font-weight: bold;
}

dialog div {
  min-height: 250px;
  min-width: 480px;
}

dialog button {
  /* Close (X) button. */
  border: transparent;
  color: gray;
  margin: 0px 5px 0px 0px;
  float: right;
  font-family: 'Space Grotesk';
  font-weight: lighter;
  width: 20px;
}